.main {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 6rem;
	min-height: 100vh;
}

.image-container {
	width: 30vw;
	height: 17vw;
	overflow: hidden;
	position: relative;
}

@media (max-width: 1300px) {
	.image-container {
		width: 90vw;
		height: 48vw;
	}
}
