.socials-bar {
	font-size: 1.4rem;

	.social-icon {
		margin: 1rem;
		cursor: pointer;
		transition: 0.5s;

		&:hover {
			&.email-icon {
				color: #e7191b;
			}

			&.youtube-icon {
				color: #fe0100;
			}

			&.twitter-icon {
				color: #cecece;
			}

			&.discord-icon {
				color: #5462eb;
			}
		}
	}
}
