@use "footer";

$foreground-color: #fff;
$background-color: #1a1919;

// * {
// 	box-sizing: border-box;
// 	padding: 0;
// 	margin: 0;
// }

// html,
// body {
// 	max-width: 100vw;
// 	overflow-x: hidden;
// }

body {
	padding-top: 1rem;
	color: $foreground-color;
	background: $background-color;
}

a {
	text-decoration: none;
	color: #b6b3b3;
	transition: 0.5s;

	&:hover {
		color: #fff;
	}

	&::before {
		content: "{ ";
		color: rgb(126, 82, 247);
		font-weight: bold;
	}

	&::after {
		content: " }";
		color: rgb(126, 82, 247);
		font-weight: bold;
	}

	&.image-link {
		&::before {
			content: "";
		}

		&::after {
			content: "";
		}
	}
}
